
form{
    background-color: rgb(138, 233, 114);
    border-radius: 5px;
    padding:auto;
    padding-top: 10px;
    align-items: center;
    
}
form h2{
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 50px;

}
form label{
    padding-left: 25px;
    padding-right: 5px;
    color: purple;
    font-weight: bold;
    padding: auto;
}
form input{
    background-color: pink;
    border-radius: 5px;
    border-style: solid;
    padding: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: auto;
    height: auto;
}